.filtering {
  display: flex;

  margin-bottom: 50px;

  &__address {

    &__inputs {

      &_street {
        width: 250px;
      }
      &_house {
        width: 150px;
      }
      &_flat {
        width: 150px;
      }

    }

  }

  &__housingStock {
    width: 200px;
  }

}
