@import "src/styles/mixins";

.mainPage {
  width: 100%;
  min-height: 100vh;
  background-color: #e6e6ea;
  padding-top: 100px;

  @include for-tablet-portrait-only {
    padding-top: 60px;
  }

  @include for-phone-only {
    padding-top: 30px;
  }


  &__form {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }
}



.container {
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 39px;
}

.filtering__menu {

}

.housingStockList {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 30px 20px;
  margin-top: 20px;
}

.pagination {
  margin-bottom: 20px;
}

.loader {
  margin: 20px 0;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.modalError {
  font-size: 16px;
  color: #ff0000;
}




